@using Frontend.Components.Models

@code {
    [Parameter]
    public CourseModel Course { get; set; } = null!;
}

<section class="course-author">


    <div class="container">
        <div class="img-div">
            <img src="@Course.AuthorImage" />
        </div>

        <div class="content-box">

            <p>Learn from the best</p>
            <h3>@Course.AuthorName</h3>
            <p>@Course.AuthorDescription</p>

            <div class="buttons">
                <button class="btn-theme btn-youtube"><i class="fa-brands fa-youtube"></i> @Course.AuthorYoutubeFollowersQty k subscribers</button>
                <button class="btn-theme btn-facebook"><i class="fa-brands fa-square-facebook"></i> @Course.AuthorYoutubeFollowersQty k subscribers</button>
            </div>
        </div>
    </div>

</section>