@using Frontend.Components.Models

@code {
    FeaturesViewModel Model = new FeaturesViewModel
    {
        Id = "Features",
        Title = "What Do You Get with Our Tool?",
        Text = "Make sure all your tasks are organized so you can set the priorities and focus on important.",

        Features = new List<FeatureViewModel>
        {
            new () { FeatureImage = new ()
            { ImageUrl = "/images/features/chat.svg", AltText = "" }, FeatureTitle = "Comments on Tasks", FeatureDescription = "Id mollis consectetur congue egestas egestas suspendisse blandit justo." },

            new()
            {
                FeatureImage = new()
                { ImageUrl = "/images/features/presentation.svg", AltText = "" },
                FeatureTitle = "Tasks Analytics",
                FeatureDescription = "Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate."
            },

            new()
            {
                FeatureImage = new()
                { ImageUrl = "/images/features/add-group.svg", AltText = "" },
                FeatureTitle = "Multiple Assignees",
                FeatureDescription = "A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris."
            },

            new()
            {
                FeatureImage = new()
                { ImageUrl = "/images/features/bell.svg", AltText = "" },
                FeatureTitle = "Notifications",
                FeatureDescription = "Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra."
            },

            new()
            {
                FeatureImage = new()
                { ImageUrl = "/images/features/tasks.svg", AltText = "" },
                FeatureTitle = "Sections & Subtasks",
                FeatureDescription = "Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus."
            },

            new()
            {
                FeatureImage = new()
                { ImageUrl = "/images/features/shield.svg", AltText = "" },
                FeatureTitle = "Data Security",
                FeatureDescription = "Aliquam malesuada neque eget elit nulla vestibulum nunc cras."
            },
        }

    };
}

<section class="features">
    <div id="@Model.Id" class="container">

        <h2>@Model.Title</h2>
        <p>@Model.Text</p>

        <div class="tool-features">

            @if (Model.Features != null!)
            {
                foreach (var feature in Model.Features)
                {
                    <div class="box">
                        <div class="img-div">
                            <img src="@feature.FeatureImage.ImageUrl" alt="@feature.FeatureImage.AltText" />
                        </div>

                        <h5>@feature.FeatureTitle</h5>
                        <p>@feature.FeatureDescription</p>
                    </div>
                }
            }

        </div>
    </div>
</section>